doctype html
html(lang="en")
    head
        title 00014669
        link(rel="stylesheet", href="/static/styles.css")

    body
        header.navbar
            h1 
                a(href="/") 00014669
            nav.nav
                a(href="/notes") All notes
                a(href="/archive") Archive

        block content 